{% extends 'base.html.twig' %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <h1 class="mb-5">
        Users list
        <a href="{{ path('user_create') }}" class="ml-5"><button class="btn btn-info">Create User</button></a>
    </h1>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Birth Date</td>
            <td>Gender</td>
            <td>Address</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.birthDate|date("d.m.Y") }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}